.DocSection {
  position: sticky;
  display: grid;
  place-content: center;
  min-height: 50dvh;
  margin: 0 60px 1em;
  padding: 20px;
  border-radius: 24px;
  background: #e0e0e0;
  border: 1px solid #c0c0c0;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  margin-bottom: 3em;
}

.centerDocsSection {
  display: flex;
  flex-wrap: wrap;
}

.boxImg {
  display: grid;
  place-content: center;
  flex-basis: 400px;
  flex-grow: 1;
}

.ilustration {
  filter: drop-shadow(2px 4px 6px #002);
}

.bocText {
  display: grid;
  place-content: center;
  flex-basis: 400px;
  flex-grow: 1;
}

.centereBoxText {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* .centereBoxText p {
    font-weight: 400;
    cursor: pointer;
    margin-top: 10px;
}

.centereBoxText p:hover {
    font-weight: 500;
} */

.btnVisit {
  /* flex-grow: 1; */
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin-top: 5px;
  cursor: pointer;
}

.boxInfo {
  /* flex-basis: 400px;
  flex-grow: 1; */
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.boxInfo h3 {
  font-size: 32px;
  color: #424242;
}

.btnVisit p {
  display: grid;
  place-content: center;
}

.btnVisit p:hover {
  margin-right: 3px;
  transition: margin-right 0.3s;
}

.boxIconVisit {
  display: grid;
  place-content: center;
}

@media screen and (max-width: 700px) {
  .DocSection {
    background: transparent;
    border: none;
  }

  .centerDocsSection {
    display: flex;
    flex-direction: column;
  }

  .boxImg {
    width: 100%;
    height: auto;
  }

  .ilustration {
    width: 100%;
    height: auto;
  }
}
