.containerProjectsFree {
  width: 90%;
  margin-left: 5%;
  margin-bottom: 5em;
  position: sticky;
}

.titleProjects {
  margin-bottom: 1em;
  font-size: 2em;
  color: #424242;
}

.container_Cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
  gap: 10px;
  margin-bottom: 1em;
}

@media screen and (max-width: 700px) {
  .containerProjectsFree {
    width: 80%;
    margin-left: 5px;
  }

  .container-Cards {
    display: flex;
    flex-wrap: wrap;
  }

  .titleProjects {
    padding-left: 28px;
  }
}
