.container_code {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.headerCard,
.techCard,
.descCard {
  margin-bottom: 1em;
}

.mode_work {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 1em;
}

.textMode {
  padding: 5px 10px;
  /* background: #7f7f7f; */
  border-radius: 16px;
  z-index: 1;
  color: rgb(77, 77, 77);
  font-weight: 700;
}

.descCard h3 {
  margin-bottom: 1em;
  font-weight: 600;
}

.techCard h3 {
  margin-bottom: 1em;
  font-weight: 600;
}

.container_card {
  display: flex;
  flex-direction: column;
  background: #f7f7f7;
  padding: 20px;
  border-radius: 24px;
  border: 1px solid transparent;
}

.container_card:hover {
  border: 1px solid #dbdbdb;
  background: #ededed;
}

.carrousell_ls {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.typeText {
  display: grid;
  place-content: center;
}

.boxGithub {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.centerIcon {
  display: grid;
  place-content: center;
}

.typeText {
  color: #7c7c7c;
}

.iconHtml {
  color: red;
  transition: color 0.3s;
}

.iconHtml:hover {
  filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.1))
    drop-shadow(0 1px 3px rgba(0, 0, 0, 0.1));
}

.iconCss {
  color: blueviolet;
  transition: color 0.3s;
}

.iconCss:hover {
  filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.1))
    drop-shadow(0 1px 3px rgba(0, 0, 0, 0.1));
}

.iconjs {
  color: yellow;
  transition: color 0.3s;
}

.iconjs:hover {
  filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.1))
    drop-shadow(0 1px 3px rgba(0, 0, 0, 0.1));
}

.iconts {
  color: blue;
  transition: color 0.3s;
}

.iconts:hover {
  filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.1))
    drop-shadow(0 1px 3px rgba(0, 0, 0, 0.1));
}

.iconReact {
  color: blueviolet;
  transition: color 0.3s;
}

.iconReact:hover {
  filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.1))
    drop-shadow(0 1px 3px rgba(0, 0, 0, 0.1));
}

.iconNext {
  color: #000;
  transition: color 0.3s;
}

.iconNext:hover {
  filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.1))
    drop-shadow(0 1px 3px rgba(0, 0, 0, 0.1));
}

.iconMongo {
  color: rgb(18, 177, 18);
  transition: color 0.3s;
}

.iconMongo:hover {
  filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.1))
    drop-shadow(0 1px 3px rgba(0, 0, 0, 0.1));
}

.iconGit {
  color: red;
  transition: color 0.3s;
}

.iconGit:hover {
  filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.1))
    drop-shadow(0 1px 3px rgba(0, 0, 0, 0.1));
}

.iconGithub {
  color: #c4c4c4;
  transition: color 0.3s;
  cursor: pointer;
}

.iconGithub:hover {
  filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.1))
    drop-shadow(0 1px 3px rgba(0, 0, 0, 0.1));
}

.iconpy {
  color: yellowgreen;
  transition: color 0.3s;
}

.iconpy:hover {
  filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.1))
    drop-shadow(0 1px 3px rgba(0, 0, 0, 0.1));
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.7;
  }
  75% {
    opacity: 0.3;
  }
  100% {
    opacity: 0;
  }
}

.statusProject {
  margin-bottom: 1em;
}

.centerStatusPj {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.pointBox div {
  width: 8px;
  height: 8px;
  background-color: #000;
  border-radius: 50%;
  animation: blink 1.5s infinite; /* Ajusté la duración para que sea más suave */
}

.pointBox {
  display: grid;
  place-content: center;
}
