.containerTopics {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.boxBlog {
    width: 90%;
    margin-left: 5%;
}

.boxComing {
  /* display: grid;
  place-content: center; */
  margin-top: 3em;
}

.baseCard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
    cursor: pointer;
}

.baseCard:hover {
    scale: 1.01;
}

.boxInfoBnts {
    display: grid;
    place-content: center;
    padding: 10px;
}

.boxLengh {
    width: 5%;
    display: grid;
    place-content: center;
    padding: 10px;
}

.boxInfo {
    width: 95%;
    padding: 10px;
}